body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    Font-size: 16px;
    background-color: hsl(270, 20%, 96%);
}
:root{
/* #### Text
    sub-heading at the top of the app UI */
--Pale-Violet : hsl(276, 100%, 81%);
    /* chat on the left */
--Moderate-Violet: hsl(276, 55%, 52%);
    /* chat on the right */
--Desaturated-Dark-Violet: hsl(271, 15%, 43%);
/* placeholder text */
--Grayish-Blue : hsl(206, 6%, 79%);
/* main heading */
--Very-Dark-Desaturated-Violet : hsl(271, 36%, 24%);
/* paragraph */
--Dark-Grayish-Violet: hsl(270, 7%, 64%);

/* #### Gradients */
--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);

/* ### Secondary */
--White: hsl(0, 0%, 100%)
/* app background */
--Light-Grayish-Violet: hsl(270, 20%, 96%);
/* submit button background */
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
/* radio button outline */
--Very-Light-Magenta : hsl(289, 100%, 72%);

}

main{
    display: grid;
    grid-template-columns: auto;
    font-size: 12px;
    height: 100vh;
    position: relative;
}
img{
    width: 50px;
}
.first-bg{
    width: 300px;
    height: 500px;
    background: linear-gradient(180deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 150px;
    position: absolute;
    left: -150px;
    top: -150px;
  }
.phone{
    position: relative;
    top: 55px;
    left: 55px;
    width: 250px;
    height: 550px;
    outline: 15px solid white;
    border-radius: 15px;
    background-color:hsl(270, 20%, 96%);
}
.speaker{
    position: relative;
    width: 40%;
    height: 20px;
    background-color: white;
    left: 30%;
    top: -6px;
    border-radius: 15px;
}
.top-side{
    margin-top: 25px;
    background: linear-gradient(270deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 20px 20px 5px 5px;
    height: 80px;
}
.top-side-content{
    padding: 35px;
    display: flex;
    margin-top: -45px;
}
.top-side img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 1px solid white;
    margin-left: 10px;
}
.left-arrow-side{
    margin-top: 10px;
    margin-left: -25px;
}
.info{
    margin-left: 20px;
    margin-top: -5px;
    line-height: 5px;
    color: #fff;
    font-size: 10px;
}
.left-hamburger-icon{
    position: absolute;
    top: 45px;
    right: 30px;
}
.chat-side{
    padding: 5px;
}
.chat{
    padding: 10px;
    font-size: 8px;
}
.left-chat{
    width: 140px;
    border: 0;
    border-radius: 20px;
    background-color: hsla(276, 100%, 81%,.4);
    color: var(--Moderate-Violet);
    font-weight: 500;
}
.right-chat{
    width: 120px;
    border: 0;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 500;
    margin-left: 100px;
    
}
.img-dog{
    text-align: end;

}
.img-dog img{
    width: 50px;
    padding-right: 10px;
    border-radius: 15px;
}


.photo-secret{
    display: flex;
    align-items: center;
    background: linear-gradient(270deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    color: white;
    width: 220px;
    margin-bottom: 5px;
    border-radius: 10px 10px 10px 5px;

}
.photo-secret img{
    width: 5px;
    height: 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: .4;
    margin-left: 10px;
}
.photo-secret p{
    margin-left: 25px;
}
.photo-secret h2{
    position: absolute;
    right: 65px;
}
.text-side{
    margin-top: 5px;
}
.text-side input{
    width: 250px;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
    border: 0;
    opacity: .4;
    margin-top: 5px;
}
.text-side i{
   position: absolute;
   left: 200px;
   bottom: 40px;
}
.text{
    width: 100%;
    height: 300px;
    margin-top: 20%;
    text-align: center;
}

    .text h1{
        font-size: 36px;
        color: var(--Very-Dark-Desaturated-Violet);
        font-weight: 400;
    }
    .text p{
        line-height: 25px;
        opacity: .6;
        padding: 40px;
        margin-top: -55px;
    }





    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 180px;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }